.header {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid black 3px;
    height: 6vh;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
    height: 6vh; 
    border: solid black 3px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10vh;
    margin-left: 15vw;
    margin-right: 15vw;
    font-size: 18px;
}

.dietTypes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 15vw;
    margin-right: 15vw;
    font-size: 18px;
}


.resultsPic {
    width: 30vw;
    height: 40vh;
}

.before{
    display:flex;
    flex-direction: column;
    font-size: 25px; 
}

.after{
    display:flex;
    flex-direction: column;
    font-size: 25px;
}

.uploadResults{
    text-align: center;
}

.dietTypes{
    font-size: 18px;
}

.calThreshComp{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.yourPlan{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}